/*
 * Globals
 */

body {
  font-family: 'Microsoft Yahei','微软雅黑',Arial,'Hiragino Sans GB','宋体';
  color: #555;
}
img{
  margin: 0;padding: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
body{
  background: url("../image/bg.png") ;
}
.container{
  margin: 0 auto;
}
.ben{
  padding: 0;margin: 0;
}
nav{
  margin: 20px;width: 100%;display: table!important;
}
nav .nav-item{
   display: table-cell!important;
}
