/*
 * Globals
 */
@media screen and (max-width: 1800px) {
  html {
    font-size: 20px;!important;
  }
}
@media screen and (max-width: 1200px) {
  html {
    font-size: 16px;!important;
  }
}
@media screen and (max-width: 800px) {
  html {
    font-size: 14px;!important;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 10px;!important;
  }
}
body {
  font-family: 'Microsoft Yahei','微软雅黑',Arial,'Hiragino Sans GB','宋体';
  color: #555;
}
img,p,ul,li,a,i,image{
  margin: 0;padding: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 ,pre{
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}
a{
  text-decoration: none;color: #666;cursor: pointer;
}
a:hover{
  text-decoration: none;
}
ul{
  list-style: none;
}
body{
  background: url("../image/bg.png") ;
}
.container{
  margin: 0 auto;position: relative;
}
.logo{
  background: url("../image/yezi.png") no-repeat;position: absolute;top: 0;left: -50px;width: 20%;height: 100px;background-size:cover ;
}
.ben{
  padding: 0;margin: 0;position: relative;
}
.lan{
  position: relative;
}
.lan header{
  background: url("../image/lan.png") no-repeat;height: 100px;width: 100%;
}
.lan .body{
  background: url("../image/body.png")  ;width: 100%;background-position:-1px -100px;background-repeat:no-repeat repeat ;
}
.lan .body li{
  height: 30px;line-height: 30px;text-align: center;border-bottom: 1px solid #C2BBA4;
  margin: 0 20px;
}

.lan footer{
  background: url("../image/lan.png") no-repeat;height: 152px;width: 100%;background-position:0 -320px;
}
nav{
  padding: 20px;width: 100%;display: table!important;position: relative;

}
.ben_img{
   position: relative;z-index: 2;
}

.content1{
  position: absolute;
  z-index: 3;left: 0;display: block;!important;width: 100%;
  background: url("../image/ben.png");
  background-size: cover;padding: 0 3rem;
}
.content_item{
  border-bottom: 2px dashed #C2BBA4;padding-bottom: 1rem;margin-bottom: 1rem;
}
.content_item .title1{
  color: green;font-size: 2rem;
}
.content_item .message{
  font-size: 1rem;
}
nav .nav-item{
   display: table-cell!important;
}
.message{
  margin-top: 1rem;
}